#sets 
# mutable, not hashable, organised, elements are unique, 
# https://realpython.com/quizzes/python-sets/viewer/

In [1]:
set1 = {1, 3, 2, 4, 2, 6}

In [23]:
set2 = set([5, 7, 8, 2, 3])

In [4]:
set3 = set("4562451")

In [7]:
# | is the union operator used to join two sets together
# set4 = set1.union(set2)
set4 = set1 | set2

In [8]:
set4

{1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
set3

{'1', '2', '4', '5', '6'}

In [10]:
# find element in set 
'2' in set3

True

In [12]:
# find the intercept of the sets using the & operator
set1 & set2

{2, 3}

In [16]:
# find the symmetric difference, deletes the difference of the
# 2 sets and outputs the rest
# set1 = {1, 3, 2, 4, 2, 6}
# set2 = set([5, 7, 8, 2, 3])
set1 ^ set2
# set difference 
#set1 - set2

{1, 4, 5, 6, 7, 8}

In [6]:
#check if set1 is a subset of set2
set1.issubset(set2)

False

In [5]:
#remove an element from a set
set1 = {1, 3, 2, 4, 2, 6}
#remove method throws keyerror if element isnt found
#set1.discard(4)
# set1.remove(3)
# set1 -= {1}
set.difference_update(1)
set1

TypeError: descriptor 'difference_update' for 'set' objects doesn't apply to a 'int' object

In [2]:
set1

{1, 2, 3, 4, 6}