In [1]:
#list of japanese cars
car1 = ['lexus', 'toyota', 'honda', 'acura', 'nissan']

In [2]:
#list of other cars 
car2 = ['mazda', 'benz', 'vox', 'ford', 'bmw']

In [7]:
car2[2:2] = ['neo']
car2

['mazda', 'benz', 'neo', 'neo', 'vox', 'ford', 'bmw']

Tuples

In [ ]:
#immutable, hashable, organized

In [2]:
# tuple of japanese cars 
t1 = ['lexus', 'toyota', 'honda', 'acura', 'nissan']

In [4]:
# tuples of other cars
t2 = ['mazda', 'benz', 'vox', 'ford', 'bmw']

In [5]:
t2

['mazda', 'benz', 'vox', 'ford', 'bmw']

In [15]:
#tuple unpacking
a, b, c, *rest = t1
rest

['acura', 'nissan']

In [6]:
t1[:-1]

['lexus', 'toyota', 'honda', 'acura']

In [12]:
print(square_list =[x ** 2 for x in range(1, 11)])

TypeError: 'square_list' is an invalid keyword argument for print()

In [9]:
square_list=[x ** 2 for x in range(1, 11)]
print (square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [17]:
print (square_list,'\n', square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
 [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]