In [2]:
import requests
import json

In [3]:
 API_KEY = "AIzaSyBR2ykH-xilkW-4kCA5fXnP8fNZ1owpvJ0"

In [4]:
text_search_url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"

In [5]:
address = 'TalentQL'

In [6]:
response = requests.get(text_search_url+'query='+address+'&key='+API_KEY)

In [7]:
type(response)

requests.models.Response

In [8]:
json_response = response.json()

In [9]:
type(json_response)

dict

In [10]:
json_response

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
   'formatted_address': '9 Professor Gabriel Olusanya St, Lekki Phase 1, Lagos 106104, Lagos, Nigeria',
   'geometry': {'location': {'lat': 6.4306491, 'lng': 3.4779887},
    'viewport': {'northeast': {'lat': 6.432002229892722,
      'lng': 3.479413129892722},
     'southwest': {'lat': 6.429302570107278, 'lng': 3.476713470107278}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'icon_background_color': '#7B9EB0',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet',
   'name': 'TalentQL',
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116956697307603049857">A Google User</a>'],
     'photo_reference': 'AdCG2DPCJCG11FwvL9r8XpEHENNMx00HqX60aZmFzCDA-xxmhphxY2AAPqWFue28T2RSzc8ptQQLVqTphwc2HPhYtFQ66ga_9DTGhcKqmth-s0Uw6cORQpt9DEuCDjEeb6m89H-v2v-qX5DMRnnXy3mCg3n3z8KJTUc9v5lAiomRflamE2gT',
     'width': 3822}],
   'place_id': 'ChIJ1y8O8qD1OxARRb_DOvYIyq4',
   'plus_code': {'compound_code': 'CFJH+75 Lagos',
    'global_code': '6FR5CFJH+75'},
   'rating': 4.8,
   'reference': 'ChIJ1y8O8qD1OxARRb_DOvYIyq4',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 30}],
 'status': 'OK'}

In [11]:
type(json_response['results'])

list

In [12]:
type(json_response['results'][0])

dict

In [13]:
type(json_response['results'][0]['formatted_address'])

str

In [14]:
json_response['results'][0]['formatted_address']

'9 Professor Gabriel Olusanya St, Lekki Phase 1, Lagos 106104, Lagos, Nigeria'

In [15]:
type(json_response['results'][0]['geometry'])

dict

In [16]:
type(json_response['results'][0]['geometry']['location'])

dict

In [17]:
type(json_response['results'][0]['geometry']['location']['lat'])

float

In [18]:
json_response['results'][0]['geometry']['location']['lng']

3.4779887

In [19]:
##!pip install Nasdaq-Data-Link

In [20]:
##pip install --upgrade pip

In [21]:
import nasdaqdatalink as nas

In [22]:
nas.ApiConfig.api_key = 'vuCnPDYmVgCwCroiBzZy'

In [23]:
Commodity = nas.get_table('QDL/FON',contract_code='967654', date='2010-10-08,2019-10-01,2023-09-24', paginate=True)

In [24]:
Commodity.head()

,contract_code,type,date,market_participation,producer_merchant_processor_user_longs,producer_merchant_processor_user_shorts,swap_dealer_longs,swap_dealer_shorts,swap_dealer_spreads,money_manager_longs,money_manager_shorts,money_manager_spreads,other_reportable_longs,other_reportable_shorts,other_reportable_spreads,total_reportable_longs,total_reportable_shorts,non_reportable_longs,non_reportable_shorts
None,,,,,,,,,,,,,,,,,,,
0,967654,F_OTR_OI,2019-10-01,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,967654,F_OTR_NT,2019-10-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,967654,F_OTR,2019-10-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,967654,FO_OTR_OI,2019-10-01,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,967654,FO_OTR_NT,2019-10-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [25]:
Commodity.shape

(20, 19)

In [26]:
type(Commodity.columns)

pandas.core.indexes.base.Index

## GETTING DATA FROM SCRACTCH

In [4]:
# Generate random data
import pandas as pd
import numpy as np

In [28]:
number_list = [23, 56, 78] # create list

In [29]:
type(number_list)

list

In [30]:
number_list_array = np.array(number_list)

In [31]:
type (number_list_array)

numpy.ndarray

In [32]:
number_list * 2

[23, 56, 78, 23, 56, 78]

In [33]:
number_list_array * 2

array([ 46, 112, 156])

## Generating random data

In [56]:
num_record = 50000 # number of records

In [57]:
age = np.random.randint(16, 58, num_record)

In [58]:
salary = np.random.randint(5000, 200001, num_record)

In [59]:
#3. marital status
marital_status = np.random.choice(['single', 'married', 'separated', 'divorces'], num_record)

In [60]:
# 4. Gender
gender = np.random.choice(['Male', 'Female', 'Prefer not to say'], num_record)

In [61]:
#5, amount in the bank
savings = np.random.randint(500, 1000001, num_record)

In [64]:
#6. Years of experience
experience = np.random.randint(1, 21, num_record)

In [65]:
#7.educational status
educational_status = np.random.choice(['undergraduate', 'graduate', 'post graduate', 'unknown'], num_record)

In [66]:
data = {
    'Age' : age, 'Salary' : salary,
    'Marital_status' : marital_status,
    'Gender': gender, 'Savings': savings,
    'Experience': experience, 'Educational_status': educational_status
    }

In [68]:
#convert dictionary to dataframe
df_biodata = pd.DataFrame(data)

In [74]:
df_biodata.head(10)

,Age,jobless,Salary,Marital_status,Gender,Savings,Experience,Educational_status
0,50,33,29174,single,Prefer not to say,877991,17,unknown
1,25,16,114822,single,Prefer not to say,98330,9,undergraduate
2,40,28,119579,single,Male,816196,12,unknown
3,22,4,85686,single,Prefer not to say,190510,18,graduate
4,21,11,188515,divorces,Prefer not to say,351484,10,undergraduate
5,49,34,26692,married,Male,825767,15,post graduate
6,31,24,24167,single,Female,123418,7,graduate
7,53,47,35835,married,Female,918987,6,undergraduate
8,25,24,98963,separated,Female,724030,1,undergraduate
9,38,37,17216,single,Prefer not to say,497301,1,unknown

In [70]:
df_biodata.columns # show column structure

Index(['Age', 'Salary', 'Marital_status', 'Gender', 'Savings', 'Experience',
       'Educational_status'],
      dtype='object')

In [71]:
df_biodata = df_biodata.reindex(columns=['Age', 'jobless', 'Salary', 'Marital_status', 'Gender', 'Savings', 'Experience',
       'Educational_status']) # reindex column

In [73]:
df_biodata['jobless'] = (df_biodata['Age'] - df_biodata['Experience']) # add period of joblessness

In [ ]:
import numpy as np 

def introduce_missing_values(data_column, missing_percentage=0.1):
    num_records = len(data_column)  # Number of records in the column
    n_missing = int(num_records * missing_percentage)  # Number of missing values to introduce

    # Randomly choose indices to be replaced by NaN
    missing_indices = np.random.choice(num_records, n_missing, replace=False)

    # Set the chosen indices to NaN
    data_column[missing_indices] = np.nan

    return data_column

In [30]:
df_biodata_NaN = introduce_missing_values(df_biodata['jobless']) # place missing data in jobless column

/var/folders/mj/cp5knww57qdcjpty7h3hz1w40000gn/T/ipykernel_90635/1354628275.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_column[missing_indices] = np.nan

In [47]:
df_biodata.head()

,Age,jobless,Salary,Marital_status,Gender,Savings,Experience,Educational_status
0,43,28.0,192078,married,Female,509278,15,post graduate
1,47,44.0,112127,separated,Female,726609,3,post graduate
2,27,7.0,151513,married,Prefer not to say,96293,20,unknown
3,17,5.0,89825,single,Male,161914,12,unknown
4,55,49.0,127754,separated,Male,446797,6,unknown

In [46]:
df_biodata.isna().sum() # show missing data total

Age                      0
jobless               5000
Salary                   0
Marital_status           0
Gender                   0
Savings                  0
Experience               0
Educational_status       0
dtype: int64

In [52]:
jobless_mean = df_biodata['jobless'].mean() # find mean of missing data
print(jobless_mean)

25.964155555555557

In [53]:
df_biodata['jobless'].fillna(jobless_mean, inplace=True) # fill missing data using mean

In [54]:
df_biodata.isna().sum() # new missing data count

Age                   0
jobless               0
Salary                0
Marital_status        0
Gender                0
Savings               0
Experience            0
Educational_status    0
dtype: int64

In [55]:
df_biodata.head()

,Age,jobless,Salary,Marital_status,Gender,Savings,Experience,Educational_status
0,43,28.0,192078,married,Female,509278,15,post graduate
1,47,44.0,112127,separated,Female,726609,3,post graduate
2,27,7.0,151513,married,Prefer not to say,96293,20,unknown
3,17,5.0,89825,single,Male,161914,12,unknown
4,55,49.0,127754,separated,Male,446797,6,unknown