In [97]:
import requests
import json

In [98]:
 API_KEY = "AIzaSyBR2ykH-xilkW-4kCA5fXnP8fNZ1owpvJ0"

In [99]:
text_search_url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"

In [100]:
address = 'TalentQL'

In [101]:
response = requests.get(text_search_url+'query='+address+'&key='+API_KEY)

In [102]:
type(response)

requests.models.Response

In [103]:
json_response = response.json()

In [104]:
type(json_response)

dict

In [105]:
json_response

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
   'formatted_address': '9 Professor Gabriel Olusanya St, Lekki Phase 1, Lagos 106104, Lagos, Nigeria',
   'geometry': {'location': {'lat': 6.4306491, 'lng': 3.4779887},
    'viewport': {'northeast': {'lat': 6.432002229892722,
      'lng': 3.479413129892722},
     'southwest': {'lat': 6.429302570107278, 'lng': 3.476713470107278}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'icon_background_color': '#7B9EB0',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet',
   'name': 'TalentQL',
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116956697307603049857">A Google User</a>'],
     'photo_reference': 'AdCG2DOzjIQ_oUL7wX6QONsqhIu4vfyxyK_8h2IEupg09iETtbaSHIA_iEbqtc2UiSxaZlAEv9hB_Lzlm8BBy1msWjGXESmeVyk9v03pFTyv6LDcEpTmD7-krhh75HyFRSwWUnz--r1KleQyOvi6p-myzjllz6_JbH9_o3ZmXJPbAykzTacr',
     'width': 3822}],
   'place_id': 'ChIJ1y8O8qD1OxARRb_DOvYIyq4',
   'plus_code': {'compound_code': 'CFJH+75 Lagos',
    'global_code': '6FR5CFJH+75'},
   'rating': 4.8,
   'reference': 'ChIJ1y8O8qD1OxARRb_DOvYIyq4',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 30}],
 'status': 'OK'}

In [11]:
type(json_response['results'])

list

In [12]:
type(json_response['results'][0])

dict

In [13]:
type(json_response['results'][0]['formatted_address'])

str

In [14]:
json_response['results'][0]['formatted_address']

'9 Professor Gabriel Olusanya St, Lekki Phase 1, Lagos 106104, Lagos, Nigeria'

In [15]:
type(json_response['results'][0]['geometry'])

dict

In [16]:
type(json_response['results'][0]['geometry']['location'])

dict

In [17]:
type(json_response['results'][0]['geometry']['location']['lat'])

float

In [18]:
json_response['results'][0]['geometry']['location']['lng']

3.4779887

In [19]:
##!pip install Nasdaq-Data-Link

In [20]:
##pip install --upgrade pip

In [21]:
import nasdaqdatalink as nas

In [22]:
nas.ApiConfig.api_key = 'vuCnPDYmVgCwCroiBzZy'

In [23]:
Commodity = nas.get_table('QDL/FON',contract_code='967654', date='2010-10-08,2019-10-01,2023-09-24', paginate=True)

In [24]:
Commodity.head()

,contract_code,type,date,market_participation,producer_merchant_processor_user_longs,producer_merchant_processor_user_shorts,swap_dealer_longs,swap_dealer_shorts,swap_dealer_spreads,money_manager_longs,money_manager_shorts,money_manager_spreads,other_reportable_longs,other_reportable_shorts,other_reportable_spreads,total_reportable_longs,total_reportable_shorts,non_reportable_longs,non_reportable_shorts
None,,,,,,,,,,,,,,,,,,,
0,967654,F_OTR_OI,2019-10-01,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,967654,F_OTR_NT,2019-10-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,967654,F_OTR,2019-10-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,967654,FO_OTR_OI,2019-10-01,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,967654,FO_OTR_NT,2019-10-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [25]:
Commodity.shape

(20, 19)

In [26]:
type(Commodity.columns)

pandas.core.indexes.base.Index

## GETTING DATA FROM SCRACTCH

In [83]:
# Generate random data
import pandas as pd
import numpy as np

In [28]:
number_list = [23, 56, 78] # create list

In [29]:
type(number_list)

list

In [30]:
number_list_array = np.array(number_list)

In [31]:
type (number_list_array)

numpy.ndarray

In [32]:
number_list * 2

[23, 56, 78, 23, 56, 78]

In [33]:
number_list_array * 2

array([ 46, 112, 156])

## Generating random data

In [84]:
num_record = 50000 # number of records

In [85]:
age = np.random.randint(16, 58, num_record)

In [87]:
salary = np.random.randint(5000, 200001, num_record)

In [88]:
#3. marital status
marital_status = np.random.choice(['single', 'married', 'separated', 'divorces'], num_record)

In [89]:
# 4. Gender
gender = np.random.choice(['Male', 'Female', 'Prefer not to say'], num_record)

In [90]:
#5, amount in the bank
savings = np.random.randint(500, 1000001, num_record)

In [91]:
#6. Years of experience
experience = np.random.randint(1, 21, num_record)

In [92]:
#7.educational status
educational_status = np.random.choice(['undergraduate', 'graduate', 'post graduate', 'unknown'], num_record)

In [93]:
data = {
    'Age' : age, 'Salary' : salary,
    'Marital_status' : marital_status,
    'Gender': gender, 'Savings': savings,
    'Experience': experience, 'Educational_status': educational_status
    }

In [94]:
#convert dictionary to dataframe
df_biodata = pd.DataFrame(data)

In [95]:
df_biodata.head(10)

,Age,Salary,Marital_status,Gender,Savings,Experience,Educational_status
0,24,49855,single,Female,42895,20,undergraduate
1,22,12193,married,Male,138449,7,undergraduate
2,32,148390,married,Prefer not to say,53467,15,post graduate
3,32,107371,single,Male,738967,16,unknown
4,35,176233,divorces,Male,811256,20,graduate
5,31,145352,separated,Prefer not to say,162845,11,post graduate
6,46,12759,divorces,Prefer not to say,563288,9,graduate
7,16,46828,single,Male,296197,16,graduate
8,33,82939,married,Male,569400,20,undergraduate
9,35,83921,married,Female,742938,19,graduate

In [96]:
df_biodata.columns

Index(['Age', 'Salary', 'Marital_status', 'Gender', 'Savings', 'Experience',
       'Educational_status'],
      dtype='object')

In [77]:
df_biodata = df_biodata.reindex(columns=['Age', 'jobless', 'Salary', 'Marital_status', 'Gender', 'Savings', 'Experience',
       'Educational_status'])

In [67]:
df_biodata.drop(columns='Jobless', inplace=True)

In [47]:
df_biodata.to_csv('biodata', index=True)

In [51]:
df_biodata['jobless'] = (df_biodata['Age'] - df_biodata['Experience'])

In [79]:
df_biodata.insert(1, 'joblepss', df_biodata['jobless']) #DataFrame.insert(loc, column, value, allow_duplicates=False)

ValueError: cannot insert jobless, already exists

In [80]:
df_biodata_1 = df_biodata.drop(columns='Jobless')

KeyError: "['Jobless'] not found in axis"

In [59]:
df_biodata_1

,Age,Jobless,Salary,Marital_status,Gender,Savings,Experience,Educational_status
0,48,37,15258,separated,Female,758899,11,undergraduate
1,48,34,148305,divorces,Male,171764,14,post graduate
2,40,26,171371,separated,Male,969763,14,graduate
3,23,13,140990,married,Female,479651,10,graduate
4,30,22,133464,married,Prefer not to say,462589,8,unknown
...,...,...,...,...,...,...,...,...
49995,51,35,149646,married,Prefer not to say,344034,16,graduate
49996,55,46,66694,married,Prefer not to say,743547,9,unknown
49997,38,25,137708,single,Female,822698,13,post graduate
49998,27,25,57589,single,Prefer not to say,85370,2,post graduate
49999,21,15,10509,married,Prefer not to say,775713,6,undergraduate

# Rapid api request

In [1]:
import requests

url = "https://api-football-v1.p.rapidapi.com/v2/odds/league/865927/bookmaker/5"

querystring = {"page":"2"}

headers = {
	"x-rapidapi-key": "c67a4d173amsh71f023b8101b72cp1fcdbdjsn30a9dfec9f91",
	"x-rapidapi-host": "api-football-v1.p.rapidapi.com"
}

rapid_response = requests.get(url, headers=headers, params=querystring)

print(rapid_response.json())

{'message': 'You are not subscribed to this API.'}

In [107]:
type(response)

requests.models.Response

In [109]:
# target the part of the response wanted
data = rapid_response['location']

IndentationError: unexpected indent (73087028.py, line 2)

In [ ]:
rapid_data_df = pd.json_normalize(data)